html{
    scroll-behavior: smooth;
    font-size: 62.5%; /* 1rem = 10px */
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
}

/* GLOBALES */

.contenedor{
    max-width: 800px;
    margin: 0 auto;
}

.container{
    padding: 1rem;
}

h1{
    font-size: 3.8rem;
    font-weight: 400;
}

h2{
    font-size: 2.8rem;
    
}	

h3{
    font-size: 2.4rem;
    font-weight: 300;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

/* UTILIDADES */

.pad-lados{
    padding: 0px 150px;
}

.mayusculas{
    text-transform: uppercase;
}

.primera-mayuscula{
    text-transform: capitalize;
}

.boton-verde{
    background: #4BAEA0;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: 700;
}

.letra-blanca{
    color: white;
}

.centrar-texto{
    text-align: center;
}

.ancho-texto{
    font-weight: 400;
}

.gris{
    color: #6C757D;
}

.contenido-pad{
    padding: 0 20px;
}

/* HEADER */


.barra{
    background: #4BAEA0;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-logo a{
    color: white;
    letter-spacing: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    
}

/*******  APP COTIZACIÓN   *******/

.grupo-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid gray;
}

.serv{
    padding: 5rem;
}

select{
    margin-bottom: 2rem;
}

.contenedor-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-flex h2{
    margin-bottom: 0;
}



