*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Gayathri', sans-serif;
}

.contenedor-1{
    background: #4BAEA0; 
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.seccion-menu{
   display: flex;
   justify-content: center;
}

.btn{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: #bad7df;
    margin: 5px 5px;
}

.contenedor-2{
    height: 800px;
    display: flex;
    justify-content: center;    
}

.cajas{
    width: 200px;
    height: 300px;
    background: #f1f0cf; 
    border: 3px solid black;
    display: flex;
    justify-content: center;
    display: none;
    margin: 10px;
}

