#edicion{
    display: flex;
    max-width: 1140px;

}

#parteDelantera{
    position: left;
	background: #bad7df;
    
}
#parteTrasera{
    position: left;
    background-color: #ffe2e2;
}
#contacto{
    position: left;
    background-color: mediumvioletred;
}


